
@font-face {
  font-family: 'StyleFormal';
  src: url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.eot");
  src: url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.woff") format("woff"), 
       url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.ttf") format("truetype"); 
}
