
/* 
   Utility Classes
*/
.mt10 {
	margin-top: 10px !important;
}

.mt15 {
	margin-top: 15px !important;
}

.mt30 {
	margin-top: 30px !important;
}

.smaller {
	font-size: .9em;
}


/* 
   Global Styles
*/
body {
	color: #222222;
	font-family: $default-font;
	font-weight: normal;
	font-style: normal;
	line-height: 1;
	cursor: default;
}

select {
	font-family: Arial, Tahoma;
}

a {
	@include hover-trans($teal20, $gray10);

	&:hover {
		//text-decoration: underline;
	}
}


.panel {
	border-style: solid;
	border-width: 1px;
	border-color: $gray30;
	margin-bottom: 1.25rem;
	padding: 1.5rem;
	background: $white;
} 

.main {
	margin-top: 25px;
}

.section-header {
	h2 {
		font-family: $default-font;
		font-weight: 600;
		font-size: rem-calc(19);
		color: $mommy-orange;
		text-transform: uppercase;
		margin-bottom: 0.7rem;
		margin-left: rem-calc(20);
	}
} 

.button {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: $mommy-orange;
	margin-bottom: 0;
	font-family: $default-font;
	font-weight: 600;
	font-size: 12px;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: $mommy-red-orange;
		text-decoration: none;
	}
}

.block {
	display: block !important;
}

.orange {
	color: $mommy-orange !important;
}

.fineprint {
	font-size: 12px;
	line-height: 16px;
}


/*
   Search Form Styles
*/ 
.search-form {
	div {
		position: relative;

		&:after {
			@include fontawesome();
			content: "\f002";
			color: $gray10;
			line-height: 24px;
			font-size: 18px;
			position: absolute;
			right: 10px;
			top: 6px;
		}

		input {
			padding-right: 30px;
		}
	}
}