/*
	Css overrides for Moot Forums
*/
body {

	.m-header {
		background: $teal10;
	}

	.m-search {
		input[type='text'] {
			margin: 0;
		}
	}

	.m-seed {
		padding: 1.2em 1.8em 0;
	}

	.m-moot, 
	.m-sidebar {
		border-radius: 7px;
	}

	.md-sidebar-shad .m-sidebar {
		box-shadow: 0 0 .6em rgba(0,0,0,0.35);
	}
}