
@{
    ViewBag.Title = Html.PageTitle("Discussions");
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<section class="banner discussions-banner">
    <div class="row">
        <header class="columns">
            <h1>ask your question</h1>
            <p class="subtitle">Need mommy advice?</p>
            <p class="intro">Our community is here to help.</p>
        </header>
        <div class="banner-bg"></div>
    </div>
</section>
