@model BlogViewModel
@{
    ViewBag.Title = Html.PageTitle("Blog");
    Layout = "~/Views/Layouts/_Default.cshtml";
}

<section class="banner blog-banner">
    <div class="row">
        <header class="columns">
            <h1>Mommy Talk</h1>
            <p class="subtitle">Welcome to Bespoke Mommy's blog</p>
            <p class="intro">Tips, how-tos, and more...</p>
        </header>
        <div class="banner-bg"></div>
    </div>
</section>

<section class="main row">
    <header class="columns section-header blog-header">
        <h2>Blog</h2>
        @{ Html.RenderAction("Categories", "Blog");}
    </header>
    <div class="large-8 medium-8 columns">
        <div class="panel">
            @foreach (var post in Model.Posts)
            {
                @Html.Partial("_BlogExcerpt", post)
            }
            @Html.Partial("_Pagination", Model)
        </div>
    </div>
    <div class="large-4 medium-4 columns">
        @{ Html.RenderAction("Sidebar", "Blog");}
    </div>
</section>
