/* 
   Foundation - http://foundation.zurb.com/ 
*/
/*
   Bourbon - http://bourbon.io/ 
*/
/*
   Colors
*/
/*
   Typography
*/
/*
   Global Elements
*/
@font-face {
  font-family: 'StyleFormal';
  src: url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.eot");
  src: url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.woff") format("woff"), url("../fonts/style-formal/StyleFormal/StyleFormal-webfont.ttf") format("truetype"); }

/* 
   Utility Classes
*/
/* 
   Global Styles
*/
body {
  color: #222222;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  cursor: default; }

select {
  font-family: Arial, Tahoma; }

a {
  color: #23b9a1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  a:hover {
    color: #807f83; }

.panel {
  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;
  margin-bottom: 1.25rem;
  padding: 1.5rem;
  background: white; }

.main {
  margin-top: 25px; }

.section-header h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.1875rem;
  color: #f38368;
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  margin-left: 1.25rem; }

.button {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f38368;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase; }
  .button:hover, .button:focus {
    background-color: #e56a5d;
    text-decoration: none; }

.block {
  display: block !important; }

.orange {
  color: #f38368 !important; }

.fineprint {
  font-size: 12px;
  line-height: 16px; }

/*
   Search Form Styles
*/
.search-form div {
  position: relative; }
  .search-form div:after {
    display: inline-block;
    font-family: FontAwesome !important;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f002";
    color: #807f83;
    line-height: 24px;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 6px; }
  .search-form div input {
    padding-right: 30px; }

/*
   Header Styles
*/
#header {
  background: #f7f7f7 url(../images/header-background.png);
  border-bottom: solid 6px #f38368;
  width: 100%; }
  #header.clone {
    z-index: 1000;
    height: 60px;
    position: fixed; }
    #header.clone #top-nav-wrap {
      display: none; }
    #header.clone #nav-wrap {
      padding: 8px 0 8px 0; }
      #header.clone #nav-wrap .logo {
        width: 125px;
        height: 44px; }
      #header.clone #nav-wrap .menu-button {
        top: 5px; }

#top-nav-wrap {
  background: #2b2b2b;
  height: 40px;
  margin-top: -40px;
  min-width: 800px; }

#top-nav > ul {
  float: right; }
  #top-nav > ul > li {
    padding: 0 15px;
    border-right: solid 1px #434343;
    height: 40px; }
    #top-nav > ul > li a {
      line-height: 40px; }

#header-search-form input[type='text'] {
  background-color: #807f83;
  color: #b6b8ba;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.4375rem;
  border: none;
  height: 1.5625rem;
  width: 16.25rem;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px; }
  #header-search-form input[type='text']:focus {
    background-color: #fff;
    color: #333; }

.nav-list li a {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #807f83;
  font-size: 0.9375rem;
  border-bottom: none;
  -webkit-transition: color 300ms ease-in-out;
  -moz-transition: color 300ms ease-in-out;
  transition: color 300ms ease-in-out; }
  .nav-list li a:hover {
    color: #fff;
    text-decoration: none; }
.nav-list.off-canvas-nav > li {
  border-top: solid 1px #3d3d3d;
  padding: 9px 15px; }
  .nav-list.off-canvas-nav > li:first-child {
    border-top: none; }
  .nav-list.off-canvas-nav > li a {
    text-transform: none;
    padding: 0;
    border-bottom: none; }

.no-touch .left-off-canvas-menu * {
  -webkit-backface-visibility: visible; }

.nav-social {
  display: inline-block; }
  .nav-social li a {
    display: block;
    position: relative;
    width: 32px;
    height: 32px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #807f83;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .nav-social li a:hover {
      color: white; }

.daddy-logo {
  height: 30px;
  width: 87px;
  display: block; }
  .daddy-logo img {
    height: 100%;
    width: 100%; }

.off-canvas-nav .daddy-logo {
  width: 120px;
  height: 41px; }

#nav-wrap {
  padding: 20px 0 10px 0;
  position: relative;
  *zoom: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  #nav-wrap:before, #nav-wrap:after {
    content: " ";
    display: table; }
  #nav-wrap:after {
    clear: both; }
  #nav-wrap .logo {
    margin: 0 auto;
    display: block;
    width: 175px;
    height: 62px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #nav-wrap .logo img {
      width: 100%;
      height: 100%; }
  #nav-wrap .menu-button {
    display: block;
    position: absolute;
    border: solid 1px #87878a;
    padding: 5px;
    top: 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #nav-wrap .menu-button span {
      display: block;
      width: 32px;
      height: 3px;
      background-color: #87878a;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      margin-top: 4px; }
      #nav-wrap .menu-button span:first-child {
        margin-top: 0; }
  #nav-wrap nav {
    margin-top: 15px;
    display: none;
    float: right;
    margin-right: 30px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    #nav-wrap nav li {
      margin-left: 60px;
      position: relative; }
      #nav-wrap nav li:first-child {
        margin-left: 0; }
      #nav-wrap nav li a {
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
        color: #f38368;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 1px; }
        #nav-wrap nav li a::after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #e56a5d;
          content: '';
          opacity: 0;
          -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
          -moz-transition: opacity 0.3s, -moz-transform 0.3s;
          transition: opacity 0.3s, transform 0.3s;
          -webkit-transform: translateY(15px);
          -moz-transform: translateY(15px);
          transform: translateY(15px); }
        #nav-wrap nav li a:hover {
          text-decoration: none; }
          #nav-wrap nav li a:hover::after {
            opacity: 0.8;
            -webkit-transform: translateY(5px);
            -moz-transform: translateY(5px);
            transform: translateY(5px); }

.shop #nav-wrap nav li a.shop:after,
.boards #nav-wrap nav li a.mommy-board:after,
.blog #nav-wrap nav li a.blog:after,
.discussions #nav-wrap nav li a.discuss:after {
  opacity: 0.8;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  transform: translateY(5px); }

@media only screen and (min-width: 930px) {
  #header {
    height: 175px; }
    #header #nav-wrap nav {
      display: block; }
    #header.clone {
      height: 70px; }
      #header.clone #nav-wrap {
        padding: 8px 0 8px 0; }
        #header.clone #nav-wrap .logo {
          width: 150px;
          height: 53px; }
        #header.clone #nav-wrap nav {
          margin-top: 10px; }
      #header.clone #top-nav-wrap {
        margin-top: -40px; }

  #top-nav-wrap {
    margin-top: 0; }

  #nav-wrap {
    padding: 35px 0 20px 0; }
    #nav-wrap .logo-wrap {
      float: left; }
    #nav-wrap .logo {
      margin: 0 0;
      width: 215px;
      height: 76px; }
    #nav-wrap .menu-button {
      display: none; } }
/*
   Footer Styles
*/
.footer {
  background: #2b2b2b;
  padding-top: 2.8125rem;
  margin-top: 6.25rem;
  color: #807f83;
  font-size: 0.9375rem; }

.footer-nav {
  color: inherit;
  *zoom: 1; }
  .footer-nav:before, .footer-nav:after {
    content: " ";
    display: table; }
  .footer-nav:after {
    clear: both; }
  .footer-nav > ul {
    list-style: none;
    margin: 0 3.75rem 1.25rem 0;
    float: left; }
  .footer-nav ul li a {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    color: inherit;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .footer-nav ul li a:hover {
      color: white; }

.footer-social {
  position: relative; }
  .footer-social .follow-us {
    font-family: "StyleFormal", Arial, Tahoma;
    color: #f38368;
    font-size: 1.6875rem;
    margin-right: 0.9375rem;
    text-transform: lowercase;
    position: relative;
    top: -6px; }

.footer-copyright {
  line-height: 3.4375rem;
  margin-top: 2.5rem;
  border-top: solid 1px #414141; }

.footer-logo {
  height: 58px;
  width: 165px;
  display: none;
  float: right; }
  .footer-logo img {
    height: 100%;
    width: 100%; }

.footer-social,
.footer-logo {
  margin-top: 25px; }

@media only screen and (min-width: 40.063em) {
  .footer-nav {
    float: left; }

  .footer-social {
    float: right; } }
@media only screen and (min-width: 960px) {
  .footer-logo {
    display: block; }

  .footer-social {
    float: left;
    margin-left: 50px; } }
.banner > .row {
  position: relative; }
.banner header {
  min-height: 274px;
  z-index: 100; }
.banner .banner-bg {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  height: 274px;
  opacity: .3; }
.banner h1 {
  font-family: "StyleFormal", Arial, Tahoma;
  color: white;
  font-size: 3rem;
  text-transform: lowercase;
  line-height: 1;
  margin-top: 35px;
  margin-bottom: 25px; }
.banner .subtitle {
  color: #84cdc1;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0; }
.banner .intro {
  color: #ffdc7a;
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem; }
.banner h1,
.banner .subtitle,
.banner .intro {
  text-shadow: 2px 0 #4d4c50; }

.blog-banner {
  background: url(../images/blog-banner-bg.jpg) no-repeat #807f83;
  background-size: cover; }
  .blog-banner .banner-bg {
    background: url(../images/blog-cover-photo.png) center right no-repeat;
    width: 747px;
    margin-right: -260px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }

.discussions-banner {
  background: url(../images/discussions-banner-bg.jpg) no-repeat #2b2b2b;
  background-size: cover; }
  .discussions-banner .banner-bg {
    background: url(../images/discussions-cover-photo.png) center right no-repeat;
    width: 747px;
    margin-right: -100px;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out; }

@media only screen and (min-width: 40.063em) {
  .banner h1 {
    font-size: 4.0625rem;
    margin-bottom: 35px; }
  .banner .subtitle {
    font-size: 1.25rem; }
  .banner .intro {
    font-size: 1.5625rem; }

  .blog-banner .banner-bg {
    margin-right: -100px; }

  .discussions-banner .banner-bg {
    margin-right: 0; } }
@media only screen and (min-width: 715px) {
  .blog-banner .banner-bg {
    opacity: 1.0; } }
@media only screen and (min-width: 850px) {
  .discussions-banner .banner-bg {
    opacity: 1.0; } }
.article-share {
  margin: 10px 0; }
  .article-share .sharebuttons,
  .article-share .sharecount {
    display: inline-block;
    vertical-align: top; }
  .article-share .sharecount {
    line-height: 40px;
    font-size: 9pt; }
  .article-share .sharebuttons a {
    display: inline-block;
    background: white url("../Images/sharrre-icons.png");
    height: 40px;
    width: 40px;
    margin-right: 4px;
    background-size: cover; }
    .article-share .sharebuttons a.facebook {
      background-position: -45px; }
    .article-share .sharebuttons a.twitter {
      background-position: -90px; }
    .article-share .sharebuttons a.googleplus {
      background-position: -136px; }
    .article-share .sharebuttons a.mail {
      background-position: -182px; }

@media only screen and (min-width: 385px) {
  .article-share .sharecount {
    margin-left: 15px; } }
.form-section {
  margin-top: 30px;
  font-size: 0.875rem;
  color: #4d4d4d; }
  .form-section h2 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.125rem;
    color: #f38368;
    margin-bottom: 30px; }
  .form-section a.forgot {
    font-size: .9em;
    display: block;
    margin-bottom: 20px; }

@media only screen and (min-width: 400px) {
  .form-section h2 {
    font-size: 1.5rem;
    margin-bottom: 40px; } }
.section-seperator {
  clear: both;
  padding-bottom: 6px;
  margin: 35px 0;
  border-bottom: 1px solid #cccccc; }

.checkbox-wrap {
  *zoom: 1; }
  .checkbox-wrap:before, .checkbox-wrap:after {
    content: " ";
    display: table; }
  .checkbox-wrap:after {
    clear: both; }
  .checkbox-wrap input[type='checkbox'] {
    float: left; }
  .checkbox-wrap label {
    float: left;
    margin-left: 5px; }

.submit-wrap {
  margin-top: 30px !important; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"], textarea {
  margin: 0 0 1.2rem 0; }

label {
  font-size: 1rem; }

/* Every post, on every page, gets this style on its <article> tag */
.post {
  position: relative;
  padding-bottom: 30px;
  word-break: normal;
  hyphens: auto; }

.post-meta {
  margin: 5px 0;
  font-size: 16px;
  font-weight: normal;
  color: #807f83;
  *zoom: 1; }
  .post-meta:before, .post-meta:after {
    content: " ";
    display: table; }
  .post-meta:after {
    clear: both; }
  .post-meta > p {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    float: left;
    margin-right: 10px;
    margin-bottom: 0; }

.post-author {
  white-space: nowrap; }
  .post-author a {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    white-space: nowrap; }

.post-comment-count i {
  color: #84cdc1;
  display: inline-block;
  margin: 0 5px;
  font-size: 16px; }

.post-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #f38368;
  margin-bottom: 0 !important;
  margin-top: 0;
  line-height: 1em; }
  .post-title a {
    font: inherit;
    color: #f38368; }
    .post-title a:hover {
      text-decoration: underline; }

.post-category {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: .9em;
  line-height: 1em;
  margin: 0 0 3px 0;
  color: #807f83;
  text-transform: uppercase; }

@media only screen and (min-width: 40.063em) {
  .post-header {
    margin-top: 0; }

  .post-title {
    font-size: 1.75rem; }

  .post-detail .post-title {
    font-size: 2.1rem; }
    .post-detail .post-title a {
      text-decoration: none;
      cursor: default; } }
.post-thumbnail,
.post-featured-image {
  margin-bottom: 25px; }

.user-meta {
  position: relative;
  padding: 0.3rem 40px 0 100px;
  min-height: 77px; }

.user-image {
  position: absolute;
  top: 0;
  left: 0; }

.user-name {
  display: block;
  font-weight: bold; }

.user-bio {
  display: block;
  max-width: 440px;
  font-size: 1.4rem;
  line-height: 1.5em; }

.publish-meta {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4.3rem 0 4rem 0;
  text-align: right; }

.publish-heading {
  display: block;
  font-weight: bold; }

.publish-date {
  display: block;
  font-size: 1.4rem;
  line-height: 1.5em; }

/* 
   Single Post - When you click on an individual post
*/
.post-excerpt p,
.post-content p {
  font-size: 18px;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
  color: #2b2b2b;
  margin: 0 0 20px 0; }
  .post-excerpt p:first-child,
  .post-content p:first-child {
    margin-top: 10px; }

.post-content p:first-child {
  margin-top: 20px; }

.post-excerpt .read-more {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: .8em;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 5px;
  color: #84cdc1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease; }
  .post-excerpt .read-more:hover {
    color: #807f83; }
  .post-excerpt .read-more:hover {
    text-decoration: none; }

.post-content img {
  display: block;
  max-width: 100%;
  height: auto; }

/* The author credit area after the post */
.post-footer {
  position: relative;
  margin: 2rem 0 0 0; }
  .post-footer .post-tags {
    color: #807f83 !important;
    font-size: 16px;
    margin: 25px 0; }
    .post-footer .post-tags i {
      color: inherit;
      font-size: inherit; }
    .post-footer .post-tags a {
      background: #f2f2f2;
      display: inline-block;
      line-height: 16px;
      white-space: nowrap;
      font-size: 14px;
      color: inherit;
      padding: 3px 7px;
      margin: 0 3px 0 3px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: all 300ms ease-in-out;
      -moz-transition: all 300ms ease-in-out;
      transition: all 300ms ease-in-out; }
      .post-footer .post-tags a:hover {
        background: #84cdc1;
        color: #fff;
        text-decoration: none; }

.post-not-found h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  color: #f38368; }

@media only screen and (min-width: 40.063em) {
  .post-not-found h2 {
    font-size: 1.75rem; } }
.post-filter {
  color: #807f83;
  display: inline-block;
  margin: 0 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  line-height: 3.2; }

.pagination {
  position: relative;
  margin: 20px auto;
  color: #807f83;
  padding-top: 40px;
  text-align: center;
  border-top: solid 1px #d8d8d8;
  *zoom: 1; }
  .pagination:before, .pagination:after {
    content: " ";
    display: table; }
  .pagination:after {
    clear: both; }
  .pagination .pages {
    line-height: 35px;
    display: none; }
  .pagination .button {
    width: 140px;
    padding-right: 15px;
    padding-left: 15px;
    position: absolute; }
    .pagination .button.next {
      right: 0; }
    .pagination .button.prev {
      left: 0; }

@media only screen and (min-width: 768px) {
  .pagination .pages {
    display: inline-block; } }
.blog-header {
  *zoom: 1; }
  .blog-header:before, .blog-header:after {
    content: " ";
    display: table; }
  .blog-header:after {
    clear: both; }
  .blog-header h2 {
    float: left;
    margin-bottom: 0;
    line-height: 2.4; }
    .blog-header h2 a {
      font: inherit;
      color: inherit; }

.blog-categories {
  background-color: #f6f6f6;
  padding: 3px 20px;
  float: right;
  display: none; }
  .blog-categories ul {
    list-style-type: none;
    margin: 0;
    *zoom: 1; }
    .blog-categories ul:before, .blog-categories ul:after {
      content: " ";
      display: table; }
    .blog-categories ul:after {
      clear: both; }
    .blog-categories ul li {
      float: left;
      display: block;
      line-height: 32px;
      color: #807f83;
      font-size: 16px; }
      .blog-categories ul li a {
        font-size: inherit;
        line-height: inherit;
        display: block;
        color: inherit;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease; }
        .blog-categories ul li a:hover {
          color: #f38368; }
        .blog-categories ul li a:hover {
          text-decoration: none; }
        .blog-categories ul li a:after {
          content: "/";
          margin: 0 10px;
          color: #cccccc; }
      .blog-categories ul li:last-child a:after {
        content: "";
        margin: 0; }
      .blog-categories ul li:first-child {
        margin-right: 25px;
        text-transform: uppercase;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
        font-size: 14px; }

@media only screen and (min-width: 960px) {
  .blog-categories {
    display: inline-block; } }
/* 
   Tag Cloud Styles
*/
.tag-cloud li a {
  line-height: 1.2; }

/*
	Blog Side bar
*/
.sidebar .latest-posts ul li span {
  display: block;
  color: #807f83;
  font-style: italic;
  font-size: .9em; }

/*
	Blog Posts on Home page
*/
.home .post {
  margin: 0 5px;
  padding-bottom: 10px; }
.home .post-title {
  font-size: 1.5rem; }
.home .post-meta {
  font-size: 14px;
  margin-top: 3px; }
.home .post-excerpt p {
  font-size: 16px; }
.home .post-category {
  font-size: .8em;
  line-height: 1.2em; }

/*
   Side bar Styles
*/
.sidebar {
  background-color: #efefef;
  font-family: "Open Sans", sans-serif; }
  .sidebar h3 {
    color: #f38368;
    font-family: inherit;
    font-size: 22px;
    margin-top: 0;
    line-height: 1.5; }
  .sidebar > :first-child {
    margin-top: 0; }
  .sidebar section {
    border-top: solid 1px white;
    margin-top: 30px;
    margin-bottom: 30px !important;
    padding-top: 20px; }
    .sidebar section:first-child {
      border-top: none;
      padding-top: 0; }
    .sidebar section ul {
      list-style-type: none;
      margin: 0; }
      .sidebar section ul li {
        margin-top: 15px; }
        .sidebar section ul li a {
          color: #2b2b2b;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          .sidebar section ul li a:hover {
            color: #84cdc1; }
          .sidebar section ul li a:hover {
            text-decoration: none; }

/*
	Css overrides for Moot Forums
*/
body .m-header {
  background: #84cdc1; }
body .m-search input[type='text'] {
  margin: 0; }
body .m-seed {
  padding: 1.2em 1.8em 0; }
body .m-moot,
body .m-sidebar {
  border-radius: 7px; }
body .md-sidebar-shad .m-sidebar {
  box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.35); }

.social-login-btn {
  cursor: pointer;
  width: 245px;
  display: block;
  overflow: hidden;
  padding: 8px 22px 8px 15px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  *zoom: 1; }
  .social-login-btn:before, .social-login-btn:after {
    content: " ";
    display: table; }
  .social-login-btn:after {
    clear: both; }
  .social-login-btn:hover {
    text-decoration: none; }
  .social-login-btn i, .social-login-btn span {
    float: left; }
  .social-login-btn i {
    padding-right: 15px;
    width: 40px;
    font-size: 24px; }
  .social-login-btn span {
    font-size: 14px;
    padding-left: 15px;
    line-height: 24px;
    display: inline-block; }
  .social-login-btn.fb {
    color: #fff;
    border: 1px solid #3a4b73;
    background-color: #4a6bb2;
    background-image: -moz-linear-gradient(top, #5d7dc2, #2e5099);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5d7dc2), to(#2e5099));
    background-image: -webkit-linear-gradient(top, #5d7dc2, #2e5099);
    background-image: -o-linear-gradient(top, #5d7dc2, #2e5099);
    background-image: linear, to bottom, #5d7dc2, #2e5099;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5d7dc2', endColorstr='#ff2e5099', GradientType=0); }
    .social-login-btn.fb:hover {
      background-color: #405c98;
      background-image: -moz-linear-gradient(top, #516ca8, #264380);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#516ca8), to(#264380));
      background-image: -webkit-linear-gradient(top, #516ca8, #264380);
      background-image: -o-linear-gradient(top, #516ca8, #264380);
      background-image: linear, to bottom, #516ca8, #264380;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff516ca8', endColorstr='#ff264380', GradientType=0); }
    .social-login-btn.fb i {
      border-right: solid 1px #425d96; }
    .social-login-btn.fb span {
      border-left: solid 1px #5271b3; }
  .social-login-btn.gplus {
    color: #fff;
    border: solid 1px #A5281A;
    background: #d84937;
    /* Old browsers */
    background: -moz-linear-gradient(top, #d84937 0%, #a8291c 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d84937), color-stop(100%, #a8291c));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d84937 0%, #a8291c 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d84937 0%, #a8291c 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d84937 0%, #a8291c 100%);
    /* IE10+ */
    background: linear, to bottom, #d84937 0%, #a8291c 100%;
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d84937', endColorstr='#a8291c',GradientType=0 );
    /* IE6-9 */ }
    .social-login-btn.gplus:hover {
      background: #c43c33;
      /* Old browsers */
      background: -moz-linear-gradient(top, #c43c33 0%, #912018 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c43c33), color-stop(100%, #912018));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #c43c33 0%, #912018 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #c43c33 0%, #912018 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #c43c33 0%, #912018 100%);
      /* IE10+ */
      background: linear, to bottom, #c43c33 0%, #912018 100%;
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c43c33', endColorstr='#912018',GradientType=0 );
      /* IE6-9 */ }
    .social-login-btn.gplus i {
      border-right: solid 1px #a8291c; }
    .social-login-btn.gplus span {
      border-left: solid 1px #d84937; }
  .social-login-btn.email {
    color: #fff;
    border: 1px solid #696969;
    background-color: #929292;
    background-image: -moz-linear-gradient(top, #adadad, dimgrey);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#adadad), to(dimgrey));
    background-image: -webkit-linear-gradient(top, #adadad, dimgrey);
    background-image: -o-linear-gradient(top, #adadad, dimgrey);
    background-image: linear, to bottom, #adadad, dimgrey;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffadadad', endColorstr='#ff696969', GradientType=0); }
    .social-login-btn.email:hover {
      color: #fff;
      background-color: #444;
      background-color: #7c7c7c;
      background-image: -moz-linear-gradient(top, #a2a2a2, #444444);
      background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a2a2a2), to(#444444));
      background-image: -webkit-linear-gradient(top, #a2a2a2, #444444);
      background-image: -o-linear-gradient(top, #a2a2a2, #444444);
      background-image: linear, to bottom, #a2a2a2, #444444;
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa2a2a2', endColorstr='#ff444444', GradientType=0); }
    .social-login-btn.email i {
      border-right: solid 1px #696969; }
    .social-login-btn.email span {
      border-left: solid 1px #adadad; }

.signin-center-col {
  float: left;
  width: 41px;
  height: 316px;
  position: relative;
  margin: 0 40px;
  display: none; }
  .signin-center-col > div {
    float: left;
    width: 1px;
    height: 270px;
    margin-left: 20px;
    background-color: #c0c0be; }
  .signin-center-col img {
    position: absolute;
    left: 0px;
    top: 30px; }

@media only screen and (min-width: 750px) {
  .signin-center-col {
    display: block; } }
.slides {
  background: white;
  overflow: hidden;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%; }
  .slides > ul {
    display: block;
    float: left;
    width: 100%;
    height: 282px;
    margin: 0;
    line-height: 1em; }
  .slides .slide {
    display: inline;
    float: left;
    overflow: hidden;
    position: relative;
    max-height: 282px !important;
    width: 380px;
    height: 100%;
    margin: 0 2px; }
    .slides .slide img {
      float: left;
      max-width: 380px;
      width: 380px; }
    .slides .slide .callout {
      position: absolute; }
      .slides .slide .callout h2,
      .slides .slide .callout span {
        text-transform: lowercase;
        text-shadow: 1px 0 #5d5856; }
      .slides .slide .callout h2 {
        font-family: "StyleFormal", Arial, Tahoma;
        font-size: 2.25rem;
        color: #f38368;
        line-height: 1em; }
        .slides .slide .callout h2.white {
          color: white; }
      .slides .slide .callout a,
      .slides .slide .callout span {
        display: inline-block; }
      .slides .slide .callout span {
        font-family: "Open Sans", sans-serif;
        color: #ffdc7a;
        white-space: nowrap; }
      .slides .slide .callout a {
        font-family: "Open Sans", sans-serif;
        font-size: 0.75rem;
        padding: 0.3125rem 0.75rem;
        color: white;
        letter-spacing: 1px; }
      .slides .slide .callout.top {
        top: 15px;
        left: 15px; }
        .slides .slide .callout.top h2 {
          text-shadow: none; }
        .slides .slide .callout.top a,
        .slides .slide .callout.top span {
          position: relative;
          top: -10px; }
        .slides .slide .callout.top span {
          text-indent: 50px;
          text-shadow: none;
          color: #84cdc1; }
        .slides .slide .callout.top a {
          margin-left: 0.9375rem; }
      .slides .slide .callout.left {
        bottom: 15%;
        left: 5%; }
        .slides .slide .callout.left h2 {
          text-indent: 10px; }
        .slides .slide .callout.left span {
          display: block;
          margin: 10px 0; }
        .slides .slide .callout.left a {
          margin-left: 30px;
          padding: 0.3125rem 0.9375rem; }
      .slides .slide .callout.right {
        right: 5%;
        top: 35%; }
        .slides .slide .callout.right span {
          display: block;
          margin: 10px 0 10px 40px; }
        .slides .slide .callout.right a {
          margin-left: 25px; }
  .slides .prev,
  .slides .next {
    background: #000;
    font-family: "StyleFormal", Arial, Tahoma;
    font-size: 3.25rem;
    color: #fff;
    margin-top: -35px;
    opacity: 0;
    position: absolute;
    top: 50%;
    padding: 15px 23px;
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear; }
  .slides .prev {
    left: 0; }
  .slides .next {
    right: 0; }
  .slides:hover .prev,
  .slides:hover .next {
    opacity: 0.4; }
  .slides .left-shade,
  .slides .right-shade {
    position: absolute;
    top: 0;
    width: 380px;
    height: 282px;
    display: none; }

.left-shade {
  left: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); }

.right-shade {
  right: 0;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65)));
  background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); }

@media only screen and (min-width: 40.063em) {
  .slides > ul {
    height: 416px; }
  .slides .slide {
    max-height: 416px !important;
    width: 560px; }
    .slides .slide img {
      max-width: 560px;
      width: 560px; }
    .slides .slide .callout h2 {
      font-size: 3.125rem; }
    .slides .slide .callout span {
      font-size: 1.375rem; }
    .slides .slide .callout a {
      padding: 0.4375rem 1.25rem;
      font-size: 0.875rem; }
    .slides .slide .callout.top {
      top: 25px;
      left: 110px; }
      .slides .slide .callout.top span {
        text-indent: 85px; }
    .slides .slide .callout.left h2 {
      text-indent: 10px; }
    .slides .slide .callout.left span {
      display: block;
      margin-bottom: 20px; }
    .slides .slide .callout.left a {
      margin-left: 50px;
      padding: 0.5rem 2.1875rem; }
    .slides .slide .callout.right {
      right: 2%;
      top: 38%; }
      .slides .slide .callout.right span {
        margin: 20px 0 20px 120px; }
      .slides .slide .callout.right a {
        margin-left: 50px;
        padding: 0.5rem 2.5rem; }
  .slides .right-shade,
  .slides .left-shade {
    display: block;
    width: 560px;
    height: 416px; }
  .slides .left-shade {
    left: -300px; }
  .slides .right-shade {
    right: -300px; } }
@media only screen and (min-width: 90.063em) {
  .slides > ul {
    height: 556px; }
  .slides .slide {
    max-height: 556px !important;
    width: 748px; }
    .slides .slide img {
      max-width: 748px;
      width: 748px; }
    .slides .slide .callout h2 {
      font-size: 4.0625rem; }
    .slides .slide .callout span {
      font-size: 1.625rem; }
    .slides .slide .callout a {
      padding: 0.625rem 1.5625rem;
      font-size: 1rem; }
    .slides .slide .callout.top {
      top: 25px;
      left: 110px; }
      .slides .slide .callout.top a,
      .slides .slide .callout.top span {
        top: -5px; }
      .slides .slide .callout.top span {
        text-indent: 105px; }
      .slides .slide .callout.top a {
        margin-left: 1.875rem; }
    .slides .slide .callout.right {
      right: 2%;
      top: 38%; }
      .slides .slide .callout.right a,
      .slides .slide .callout.right span {
        position: relative;
        top: -12px; }
      .slides .slide .callout.right span {
        margin: 20px 0 25px 150px; }
  .slides .right-shade,
  .slides .left-shade {
    display: block;
    width: 748px;
    height: 556px; } }

