@charset "IBM437";
/******************************
	-	SHOWBIZ PRO STYLES	-


	Created By ThemePunch
	www.themepunch.com

	Release Date: 27.02.2013
********************************/

@import "modules/_mixins";

.showbiz-navigation {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
	margin-bottom: 30px;
	text-align: center;
	@include clearfix();
}

/**************************************
	-	BASIC STYLING FOR CONTENTS	-
***************************************/
.showbiz {
    position: relative;
}

.sbclear {
    clear: both;
}


.showbiz-navigation.center {
    text-align: center;
}

.sb-navigation-left,
.sb-navigation-right,
.sb-navigation-play {
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    display: inline-block;
    padding: 3px 5px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/**/
.sb-navigation-play {
    margin-right: 5px;
}

.sb-navigation-left {
    margin-right: 5px;
}

.sb-navigation-left i,
.sb-navigation-right i,
.sb-navigation-play i {
    font-size: 18px;
    color: $black10;
	@include hover-trans($black10, $teal10)
}

.sb-navigation-right.notclickable {
    cursor: default;
    -moz-opacity: 0.3;
    filter: alpha(opacity=30);
    opacity: 0.3;
}

.sb-hidden {
    display: none;
}

.showbiz ul, .showbiz li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.showbiz ul li {
    position: relative;
    -webkit-transform: translateZ(10);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    margin-right: 15px;
}

.showbiz .overflowholder {
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 2;
}

.showbiz .overflowholder ul {
    width: 100000px;
    position: absolute;
    top: 0px;
    left: 0px;
}

.showbiz .overflowholder ul li {
    float: left !important;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    position: relative;
}
