@model PostViewModel
           
<article class="post row">
    <div class="columns">
        <div class="post-thumbnail">
            <img src="@Model.ThumbnailImageUrl" alt="Blog Picture" />
        </div>
        @Html.Partial("_BlogHeader", Model)
        <section class="post-excerpt">
            @Html.Raw(Model.Excerpt)
        </section>
    </div>
</article>