<ul class="nav-social button-group">
    <li><a class="fa fa-facebook" href="http://www.facebook.com/BespokeMommy" target="_blank" title="Be a fan on Facebook"></a></li>
    <li><a class="fa fa-twitter" href="https://twitter.com/BespokeMommy/" target="_blank" title="Follow us on Twitter"></a></li>
    @*<li><a class="fa fa-google-plus" href="#" target="_blank" title="Be a fan on Google Plus"></a></li>*@
    <li><a class="fa fa-instagram" href="http://www.instagram.com/bespokemommy" target="_blank" title="Follow us on Instagram"></a></li>
    <li><a class="fa fa-pinterest" href="http://www.pinterest.com/bespokemommy" target="_blank" title="Follow us on Pinterest"></a></li>
</ul>