<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    
    <add key="Facebook.AppID" value="490530634391163"/>
    <add key="Facebook.AppSecret" value="e99053c18fdec2b104537b1c7b696982"/>
    
    <add key="Cache.BlogService.Duration.Minutes" value="10" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" xdt:Transform="Insert" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" xdt:Transform="Insert" />
    </staticContent>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" xdt:Transform="Insert" />
  </system.webServer>
  
</configuration>